@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .typography-h1 {
    @apply text-4xl font-semibold md:text-5xl;
  }
  .typography-h2 {
    @apply text-3xl font-semibold md:text-4xl;
  }
  .typography-h3 {
    @apply text-2xl font-semibold md:text-3xl;
  }
  .typography-h4 {
    @apply text-xl font-semibold md:text-2xl;
  }
  .typography-h5 {
    @apply text-lg font-medium md:text-xl;
  }
  .typography-h6 {
    @apply text-base font-medium md:text-lg;
  }
  .typography-p {
    @apply text-sm font-normal md:text-base;
  }
  .typography-small {
    @apply text-xs font-normal md:text-sm;
  }
  .typography-button {
    @apply text-sm font-medium tracking-wide uppercase;
  }
  .typography-caption {
    @apply text-xs font-semibold tracking-wide uppercase;
  }
  .typography-link {
    @apply text-sm font-medium tracking-wide uppercase transition-colors cursor-pointer hover:text-primary focus:text-primary;
  }
  .typography-secondary {
    @apply text-lightgray;
  }
  .leading-title {
    @apply leading-normal;
  }
  .leading-paragraph {
    @apply leading-loose;
  }
  .leading-desc {
    @apply leading-relaxed;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.animatedBar::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.25rem;
  background-color: #171717;
  animation: barAnimation 5s linear infinite;
}

.animatedBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  width: 0.25rem;
  background-color: #171717;
  animation: barAnimation 5s linear infinite;
}

@keyframes barAnimation {
  from {
    transform: translateX(-32px);
  }
  to {
    transform: translateX(75px);
  }
}

.projectsContainer {
  grid-template-columns: repeat(1, minmax(0, 16rem));
}

@media (min-width: 768px) {
  .projectsContainer {
    grid-template-columns: repeat(2, minmax(0, 18rem));
  }
}

@media (min-width: 1024px) {
  .projectsContainer {
    grid-template-columns: repeat(3, minmax(0, 20rem));
  }
}
