@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/montserrat-alternates-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-alternates-v12-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-alternates-v12-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/montserrat-alternates-v12-latin-600.woff') format('woff'),
    /* Modern Browsers */
      url('../fonts/montserrat-alternates-v12-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/montserrat-alternates-v12-latin-600.svg#MontserratAlternates')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/poppins-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/poppins-v15-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/poppins-v15-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/poppins-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/poppins-v15-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/poppins-v15-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/poppins-v15-latin-500.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/poppins-v15-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/poppins-v15-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/poppins-v15-latin-600.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/poppins-v15-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/poppins-v15-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/poppins-v15-latin-700.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

@layer utilities {
  .typography-h1 {
    @apply text-4xl font-semibold md:text-5xl;
  }
  .typography-h2 {
    @apply text-3xl font-semibold md:text-4xl;
  }
  .typography-h3 {
    @apply text-2xl font-semibold md:text-3xl;
  }
  .typography-h4 {
    @apply text-xl font-semibold md:text-2xl;
  }
  .typography-h5 {
    @apply text-lg font-medium md:text-xl;
  }
  .typography-h6 {
    @apply text-base font-medium md:text-lg;
  }
  .typography-p {
    @apply text-sm font-normal md:text-base;
  }
  .typography-small {
    @apply text-xs font-normal md:text-sm;
  }
  .typography-button {
    @apply text-sm font-medium tracking-wide uppercase;
  }
  .typography-caption {
    @apply text-xs font-semibold tracking-wide uppercase;
  }
  .typography-link {
    @apply text-sm font-medium tracking-wide uppercase transition-colors cursor-pointer hover:text-primary focus:text-primary;
  }
  .typography-secondary {
    @apply text-lightergrey;
  }
  .leading-title {
    @apply leading-normal;
  }
  .leading-paragraph {
    @apply leading-loose;
  }
  .leading-desc {
    @apply leading-relaxed;
  }
}
